
        p {
            margin: 10px 0;
        }

        #nombre {
            font-weight: bold;
        }

        #fecha {
            font-style: italic;
        }

        #respuesta-1 {
            font-weight: bold;
        }

        #respuesta-2 {
            font-style: italic;
        }

        #respuesta-3 {
            font-weight: bold;
        }

        #respuesta-4 {
            text-decoration: underline;
            font-weight: bold;
        }

        #respuesta-5 {
            font-size: small;
            vertical-align: super;
        }

        #respuesta-6 {
            font-size: larger;
        }

        #respuesta-7 {
            font-size: small;
        }

        #respuesta-8 {
            font-style: italic;
        }

        #respuesta-9 {
            font-style: italic;
        }

        #respuesta-10 {
            font-weight: bold;
            text-decoration: underline;
            font-style: italic;
        }

        #respuesta-11 {
            font-weight: bold;
        }

        #respuesta-12 {
            font-weight: bold;
        }

        #respuesta-13 {
            font-style: italic;
        }

        #respuesta-14 {
            text-transform: uppercase;
        }
        li ul {
            list-style-type: disc;
            margin-left: 20px;
        }

        li ul li {
            list-style-type: disc;
        }