span.nombre {
    font-weight: bold;
  }
  
  span.respuesta {
    text-decoration: underline;
  }
  
  span.ciudad {
    font-style: italic;
  }
  
  span.preguntacuatro {
    font-weight: bold;
    text-decoration: underline;
  }
  
  span.respuestacinco {
    vertical-align: super;
    font-size: smaller;
  }
  
  span.respuestaseis {
    vertical-align: sub;
    font-size: smaller;
  }
  
  span.respuestasiete {
    font-size: 20px;
  }
  
  span.respuestaocho {
    font-size: 12px;
  }
  
  span.respuestadiez {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
  }
  
  span.respuestacatorce strong {
    font-weight: bold;
  }
