ul{list-style-type: disc;}
.pregunta1 ul li{ font-weight: bold;}
.pregunta2 ul li{ text-decoration: underline;}
.pregunta3 ul li{ font-style: italic;}
.pregunta4 ul li{ font-weight: bold; text-decoration: underline;}
.pregunta7 ul li { font-size: 1.5em;}
.pregunta8 ul li { font-size: 0.8em;}
.pregunta10 ul li { font-weight: bold; font-style: italic; text-decoration: underline;}
.pregunta14 span{ font-weight: bold; }